.newsDetail__container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 70%;
  min-height: 70vh;
  margin: 0 auto;
  margin-top: 30px;
  gap: 50px;
  align-items: center;
}

.newsDetail__content {
  flex: 1 0 60%;
}

.newsDetail__content p {
  padding: 10px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
}

.newsDetail__imageContainer {
  flex: 0 0 40%;
  box-shadow: -4px 14px 23px -5px rgba(0, 0, 0, 0.82);
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 15px;
  transform: rotate(3deg);
}

.commentsTitle__container h2 {
  font-size: 2.2rem;
}

.commentsTitle__container {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  margin-top: 32px;
}

.newsDetail__image {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 468px) {
  .commentsTitle__container h2 {
    font-size: 2.5rem;
  }
  .newsDetail__container {
    max-width: 50%;
  }
}

@media (min-width: 769px) {
  .newsDetail__container {
    flex-direction: row;
    margin-top: 0;
    max-width: 60%;
  }

  .newsDetail__content {
    flex: 1;
    height: 100%;
  }

  .newsDetail__imageContainer {
    flex: 0 0 40%;
  }

  .newsDetail__content p {
    text-align: right;
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .newsDetail__container {
    flex-direction: row;
    margin-top: 0;
  }

  .newsDetail__content {
    flex: 1;
    height: 100%;
  }

  .newsDetail__imageContainer {
    flex: 0 0 40%;
  }

  .newsDetail__content p {
    font-size: 1.4rem;
  }
}
